@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto:ital,wght@0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 1290px;
}

.container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  background: url(img/back.png) center no-repeat;
  background-size: cover;
  height: 670px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'New Tegomin' sans-serif;
  word-spacing: 20px;
}

.header__logo img {
  width: 128px;
  height: 50px;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_list a {
  text-decoration: none;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.header_list a:visited {
  color: white;
}

.header_list a:hover {
  color: #00e0d0;
}

.header_list a:active {
  color: black;
}

.text {
  text-align: center;
  margin-top: 50px;
}

.text h1 {
  color: white;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

.text p {
  padding: 30px;
  font-size: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.text button {
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #00e0d0;
  color: #00e0d0;
  width: 150px;
  height: 50px;
  font-size: 18px;
}

.bodyone_content img {
  width: 235px;
  height: 229px;
  margin-top: 50px;
  margin-left: 250px;
}

.bodyone_content h1 {
  margin-left: 560px;
  margin-top: -230px;
  font-family: "Playfair Display";
  color: #413d4b;
  font-size: 22px;
}

.bodyone_content p {
  margin-top: 20px;
  margin-left: 560px;
  font-family: Roboto;
  color: #413d4b;
  font-size: 14px;
}

.bodyone_content button {
  width: 120px;
  height: 40px;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Hammersmith One";
  border: 2px solid #00e0d0;
  color: #00e0d0;
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 560px;
}

.bodytwo {
  background: url(img/backone.png) center no-repeat;
  background-size: 100%;
  height: 550px;
  margin-top: 50px;
}

.bodytwo img {
  margin-left: 900px;
  margin-top: 200px;
}

.bodytwo h1 {
  margin-left: 873px;
  margin-top: 34px;
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 16px;
}

.bodythree {
  background-color: white;
  height: 755px;
}

.bodythree .bodythreetext {
  text-align: center;
}

.bodythree .bodythreetext h6 {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  margin-top: 20px;
}

.bodythree .bodythreetext p {
  color: #2f2d35;
  font-family: "Playfair Display";
  font-size: 14px;
  margin-top: 40px;
}

.bodythree .flex_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
  text-align: center;
}

.bodythree .flex_one img {
  height: 60px;
  width: 60px;
}

.bodythree .flex_one h5 {
  margin-top: 30px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
}

.bodythree .flex_one p {
  margin-top: 20px;
  color: #413d4b;
  font-family: "Roboto - Black";
  font-size: 14px;
}

.bodythree .flex_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-top: 150px;
}

.bodythree .flex_two img {
  height: 60px;
  width: 60px;
}

.bodythree .flex_two h6 {
  margin-top: 30px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
}

.bodythree .flex_two p {
  margin-top: 20px;
  font-size: 15px;
  color: #535353;
}

.bodyfour {
  background: url(img/backtwo.png) center no-repeat;
  background-size: 100%;
  height: 710px;
}

.bodyfour_text {
  padding: 70px;
}

.bodyfour_text h1 {
  text-align: center;
  color: white;
  font-family: "Playfair Display";
  font-size: 22px;
}

.bodyfour_text p {
  margin-top: 60px;
  text-align: center;
  color: white;
  font-family: "Playfair Display";
  font-size: 20px;
}

.meet_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meet_flex .photo1 {
  background-color: white;
  height: 220px;
  width: 229px;
}

.meet_flex .photo2 {
  background-color: white;
  height: 220px;
  width: 229px;
}

.meet_flex .photo3 {
  background-color: white;
  height: 220px;
  width: 229px;
}

.meet_flex .photo4 {
  background-color: white;
  height: 220px;
  width: 229px;
}

.meet_flex h1 {
  text-align: center;
  color: white;
  font-family: "Roboto - Black";
  font-size: 14px;
}

.meet_flex p {
  text-align: center;
  color: #fafafa;
  font-family: Roboto;
  font-size: 13px;
  margin-top: 5px;
}

.meet_card {
  margin: 5px;
}

.textone {
  border: 1px solid floralwhite;
  padding: 25px;
}

.bodyfour button {
  margin-left: 570px;
  margin-top: 40px;
  width: 120px;
  height: 40px;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Hammersmith One";
  border: 2px solid #00e0d0;
  color: #00e0d0;
}

.bodyfour h3 {
  text-align: center;
  margin-top: 20px;
  color: #f3f3f3;
  font-family: Roboto;
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 800px) {
  .entire-menu {
    display: none;
  }
}

@media (max-width: 800px) {
  .header_list {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .entire-menu {
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 80px;
    background: url(img/Logo.png) center no-repeat;
    background-color: #353434;
  }
  .entire-menu:hover {
    height: 100%;
    width: 100%;
    background-color: #353434;
  }
  .hamburguer {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    background: none;
    margin: 0 0 10px 0;
  }
  .hamburguer:after, .hamburguer:before, .hamburguer span, .hamburguer label {
    content: ' ';
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .hamburguer:before {
    top: 0;
  }
  .hamburguer:after {
    bottom: 0;
  }
  .hamburguer:focus {
    outline: none;
  }
  .hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000;
  }
  .hamburguer span {
    top: 8px;
  }
  #change-hamburguer {
    display: none;
  }
  #change-hamburguer:checked ~ .hamburguer:before, #change-hamburguer:checked ~ .hamburguer:after {
    top: 10px;
    margin-top: -10%;
  }
  #change-hamburguer:checked ~ .hamburguer:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #change-hamburguer:checked ~ .hamburguer:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #change-hamburguer:checked ~ .hamburguer span {
    opacity: 0;
  }
  #change-hamburguer:checked ~ .menu {
    max-height: 200px;
  }
  .menu {
    max-height: 0;
    height: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
    width: 50%;
  }
  .menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
    border-left: 5px solid #000;
  }
  .menu a:hover {
    border-left: 5px solid #e57373;
    color: #e57373;
    background: #222;
  }
}

@media (max-width: 1000px) {
  .header_list a {
    margin-right: 30px;
  }
}

@media (max-width: 940px) {
  .header_list a {
    margin-right: 25px;
  }
  .bodyone_content .textbodyone {
    margin-left: -190px;
  }
  .bodyone_content img {
    margin-left: 100px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 560px) {
  .bodyone_content .textbodyone {
    margin-left: -340px;
  }
  .bodyone_content img {
    margin-left: 5px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 780px) {
  .header_list a {
    margin-right: 15px;
  }
  .text {
    margin-top: 70px;
  }
}

@media (max-width: 700px) {
  .header_list a {
    margin-right: 10px;
  }
  .header__logo img {
    margin-left: -50px;
  }
}

@media (max-width: 640px) {
  .header__logo img {
    margin-left: -80px;
  }
  .header_list {
    margin-right: -60px;
  }
  .header_list a {
    margin-right: 10px;
  }
}

@media (max-width: 603px) {
  .header__logo img {
    margin-left: -120px;
  }
  .header_list {
    margin-right: -75px;
  }
  .header_list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 8px;
  }
}

@media (max-width: 400px) {
  .bodyone_content .textbodyone {
    margin-top: -5px;
  }
  .bodyone_content .textbodyone h1 {
    font-size: 15px;
  }
  .bodyone_content .textbodyone p {
    font-size: 12px;
  }
}

@media (max-width: 1640px) {
  .bodytwo_content {
    margin-left: -150px;
  }
}

@media (max-width: 1440px) {
  .bodytwo_content {
    margin-left: -250px;
  }
}

@media (max-width: 1150px) {
  .bodytwo_content {
    margin-left: -423px;
  }
}

@media (max-width: 930px) {
  .bodytwo_content {
    margin-left: -550px;
  }
}

@media (max-width: 640px) {
  .bodytwo_content {
    margin-left: -623px;
  }
}

@media (max-width: 500px) {
  .bodytwo_content img {
    width: 70px;
    height: 70px;
  }
  .bodytwo_content h1 {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .bodytwo_content {
    margin-left: -710px;
    margin-top: -240px;
  }
  .bodytwo_content img {
    width: 50px;
    height: 50px;
    margin-top: 230px;
  }
  .bodytwo_content h1 {
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .bodytwo_content {
    margin-left: -770px;
  }
}

@media (max-width: 750px) {
  .flex_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */