@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto:ital,wght@0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 1290px;
}

.container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  background: url(img/back.png) center no-repeat;
  background-size: cover;
  height: 670px;
}

.header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'New Tegomin' sans-serif;
  word-spacing: 20px;
}

.header .header__logo img {
  width: 128px;
  height: 50px;
}

.header .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .header_list a {
  text-decoration: none;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.header .header_list a:visited {
  color: white;
}

.header .header_list a:hover {
  color: #00e0d0;
}

.header .header_list a:active {
  color: black;
}

.header .text {
  text-align: center;
  margin-top: 50px;
}

.header .text h1 {
  color: white;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

.header .text p {
  padding: 30px;
  font-size: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.header .text button {
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #00e0d0;
  color: #00e0d0;
  width: 150px;
  height: 50px;
  font-size: 18px;
}

.bodyone_content img {
  width: 235px;
  height: 229px;
  margin-top: 50px;
  margin-left: 250px;
}

.bodyone_content h1 {
  margin-left: 560px;
  margin-top: -230px;
  font-family: "Playfair Display";
  color: #413d4b;
  font-size: 22px;
}

.bodyone_content p {
  margin-top: 20px;
  margin-left: 560px;
  font-family: Roboto;
  color: #413d4b;
  font-size: 14px;
}

.bodyone_content button {
  width: 120px;
  height: 40px;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Hammersmith One";
  border: 2px solid #00e0d0;
  color: #00e0d0;
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 560px;
}

.bodytwo {
  background: url(img/backone.png) center no-repeat;
  background-size: 100%;
  height: 550px;
  margin-top: 10px;
}

.bodytwo img {
  margin-left: 800px;
  margin-top: 200px;
}

.bodytwo h1 {
  margin-left: 773px;
  margin-top: 34px;
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 16px;
}

.bodythree {
  background-color: white;
  height: auto;
}

.bodythree .bodythreetext {
  text-align: center;
}

.bodythree .bodythreetext h6 {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  margin-top: 20px;
}

.bodythree .bodythreetext p {
  color: #2f2d35;
  font-family: "Playfair Display";
  font-size: 14px;
  margin-top: 40px;
}

.bodythree .flex_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
  text-align: center;
  margin: 27px;
}

.bodythree .flex_one .content {
  margin: 13px;
}

.bodythree .flex_one .content1 {
  margin: 13px;
}

.bodythree .flex_one .content2 {
  margin: 13px;
}

.bodythree .flex_one img {
  height: 60px;
  width: 60px;
}

.bodythree .flex_one h5 {
  margin-top: 30px;
  color: #333333;
  font-family: "Roboto";
  font-size: 14px;
}

.bodythree .flex_one p {
  margin-top: 20px;
  color: #413d4b;
  font-family: "Roboto - Black";
  font-size: 14px;
}

.bodythree .flex_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-top: 150px;
  margin: 27px;
}

.bodythree .flex_two .content3 {
  margin: 13px;
}

.bodythree .flex_two .content4 {
  margin: 13px;
}

.bodythree .flex_two .content5 {
  margin: 13px;
}

.bodythree .flex_two img {
  height: 60px;
  width: 60px;
}

.bodythree .flex_two h6 {
  margin-top: 30px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
}

.bodythree .flex_two p {
  margin-top: 20px;
  font-size: 15px;
  color: #535353;
}

.bodyfour {
  background: url(img/backtwo.png) center no-repeat;
  background-size: cover;
  height: auto;
}

.bodyfour .bodyfour_text {
  text-align: center;
  padding: 60px;
}

.bodyfour .bodyfour_text h1 {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 22px;
}

.bodyfour .bodyfour_text p {
  color: #f9f9f9;
  font-family: "Playfair Display";
  font-size: 14px;
}

.bodyfour .flex_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.bodyfour .flex_content .flex1 {
  margin: 10px;
}

.bodyfour .flex_content .flex2 {
  margin: 10px;
}

.bodyfour .flex_content .flex3 {
  margin: 10px;
}

.bodyfour .flex_content .flex4 {
  margin: 10px;
}

.bodyfour .flex_content .back {
  background-color: white;
  width: 220px;
  height: 229px;
}

.bodyfour .flex_content .flex_text {
  text-align: center;
  border: 1px solid white;
  padding: 26px;
}

.bodyfour .flex_content .flex_text h1 {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 14px;
}

.bodyfour .flex_content .flex_text p {
  color: #fafafa;
  font-family: "Roboto";
  font-size: 13px;
}

.bodyfour h5 {
  color: #f3f3f3;
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 59px;
  margin-left: 470px;
}

.bodyfour .button1 {
  width: 120px;
  height: 40px;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Hammersmith One";
  border: 2px solid #00e0d0;
  color: #00e0d0;
  margin-top: 35px;
  margin-left: 555px;
}

.bodyfour_finish {
  background-color: white;
  height: 159px;
  margin-top: 40px;
}

.bodyfour_finish h1 {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  padding: 60px;
  margin-left: 350px;
}

.bodyfour_finish p {
  color: #413d4b;
  font-family: "Roboto";
  font-size: 14px;
  margin-top: -78px;
  margin-left: 1310px;
}

.bodyfive {
  background: url(img/backthree.png) center no-repeat;
  background-size: cover;
  height: auto;
}

.bodyfive .bodyfive_content p {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 16px;
  text-align: center;
  padding: 100px;
}

.bodyfive .bodyfive_content1 h1 {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 14px;
  text-align: center;
}

.bodyfive .bodyfive_content1 p {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 13px;
  text-align: center;
  margin-top: -90px;
}

.bodysix {
  background-color: white;
  height: auto;
}

.bodysix .leftright_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bodysix .left_content h1 {
  margin-top: 60px;
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
}

.bodysix .left_content input {
  margin-top: 20px;
  padding: 20px;
  width: 800px;
  font-size: 20px;
  color: black;
}

.bodysix .left_content button {
  width: 120px;
  height: 40px;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Hammersmith One";
  font-size: 16px;
  border: 2px solid #00e0d0;
  color: #00e0d0;
  margin-top: 40px;
}

.bodysix .right_content h2 {
  margin-left: 22px;
  margin-top: 60px;
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
}

.bodysix .right_content .img .left_img .one {
  padding: 23px;
}

.bodysix .right_content .img .left_img .two {
  padding: 23px;
}

.bodysix .right_content .img .right_img .three {
  padding: 23px;
}

.bodysix .right_content .img .right_img .four {
  padding: 23px;
}

.bodyseven {
  background: url(img/backthour.png) center no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 50px;
}

.bodyseven .bodyseven_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bodyseven .bodyseven_content1 img {
  height: 48px;
  width: 114px;
  margin-top: 81px;
  margin-left: 17px;
}

.bodyseven .bodyseven_content1 p {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  padding: 15px;
}

.bodyseven .bodyseven_content1 .help {
  margin-top: 90px;
  margin-left: 12px;
  word-spacing: 14px;
}

.bodyseven .bodyseven_content1 .help a {
  text-decoration: none;
}

.bodyseven .bodyseven_content1 .help a:visited {
  color: #ffffff;
  text-decoration: none;
}

.bodyseven .bodyseven_content1 .help a:hover {
  text-decoration: none;
  color: #413ed8;
}

.bodyseven .bodyseven_content2 {
  margin-top: -10px;
}

.bodyseven .bodyseven_content2 img {
  height: 20px;
  width: 15px;
  margin-top: 42px;
  margin-left: -13px;
}

.bodyseven .bodyseven_content2 h1 {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 15px;
  margin-top: 93px;
}

.bodyseven .bodyseven_content2 p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  padding: 20px;
  margin-top: -41px;
}

.bodyseven .bodyseven_content3 {
  margin-top: 76px;
}

.bodyseven .bodyseven_content3 h1 {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 15px;
}

.bodyseven .bodyseven_content3 input {
  font-size: 20px;
  width: 211px;
  height: 45px;
  border: 1px solid #ffffff;
  margin-top: 38px;
}

.bodyseven .bodyseven_content3 .img_content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 251px;
  height: 35px;
  margin-top: 56px;
}

.bodyseven .bodyseven_content3 p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 58px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 800px) {
  .entire-menu {
    display: none;
  }
}

@media (max-width: 800px) {
  .header_list {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .entire-menu {
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 80px;
    background: url(img/Logo.png) center no-repeat;
    background-color: #353434;
  }
  .entire-menu:hover {
    height: 100%;
    width: 100%;
    background-color: #353434;
  }
  .hamburguer {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    background: none;
    margin: 0 0 10px 0;
  }
  .hamburguer:after, .hamburguer:before, .hamburguer span, .hamburguer label {
    content: ' ';
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .hamburguer:before {
    top: 0;
  }
  .hamburguer:after {
    bottom: 0;
  }
  .hamburguer:focus {
    outline: none;
  }
  .hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000;
  }
  .hamburguer span {
    top: 8px;
  }
  #change-hamburguer {
    display: none;
  }
  #change-hamburguer:checked ~ .hamburguer:before, #change-hamburguer:checked ~ .hamburguer:after {
    top: 10px;
    margin-top: -10%;
  }
  #change-hamburguer:checked ~ .hamburguer:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #change-hamburguer:checked ~ .hamburguer:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #change-hamburguer:checked ~ .hamburguer span {
    opacity: 0;
  }
  #change-hamburguer:checked ~ .menu {
    max-height: 200px;
  }
  .menu {
    max-height: 0;
    height: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
    width: 50%;
  }
  .menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
    border-left: 5px solid #000;
  }
  .menu a:hover {
    border-left: 5px solid #e57373;
    color: #e57373;
    background: #222;
  }
}

@media (max-width: 1000px) {
  .header_list a {
    margin-right: 30px;
  }
}

@media (max-width: 940px) {
  .header_list a {
    margin-right: 25px;
  }
  .bodyone_content .textbodyone {
    margin-left: -190px;
  }
  .bodyone_content img {
    margin-left: 100px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 560px) {
  .text h1 {
    font-size: 27px;
  }
  .text p {
    font-size: 12px;
  }
}

@media (max-width: 780px) {
  .header_list a {
    margin-right: 15px;
  }
  .text {
    margin-top: 70px;
  }
}

@media (max-width: 700px) {
  .header_list a {
    margin-right: 10px;
  }
  .header__logo img {
    margin-left: -50px;
  }
}

@media (max-width: 640px) {
  .header__logo img {
    margin-left: -80px;
  }
  .header_list {
    margin-right: -60px;
  }
  .header_list a {
    margin-right: 10px;
  }
}

@media (max-width: 603px) {
  .header__logo img {
    margin-left: -120px;
  }
  .header_list {
    margin-right: -75px;
  }
  .header_list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 8px;
  }
}

@media (max-width: 560px) {
  .bodyone_content .textbodyone {
    margin-left: -385px;
    margin-top: 37px;
  }
  .bodyone_content img {
    margin-left: 5px;
    width: 154px;
    height: 149px;
  }
}

@media (max-width: 400px) {
  .bodyone_content .textbodyone {
    margin-top: 40px;
  }
  .bodyone_content .textbodyone h1 {
    font-size: 15px;
    margin-left: 527px;
  }
  .bodyone_content .textbodyone p {
    font-size: 12px;
    margin-left: 527px;
  }
  .bodyone_content .textbodyone .button {
    margin-left: 517px;
  }
  .bodyone_content img {
    margin-left: -15px;
    width: 154px;
    height: 149px;
  }
}

@media (max-width: 1640px) {
  .bodytwo_content {
    margin-left: -150px;
  }
}

@media (max-width: 1440px) {
  .bodytwo_content {
    margin-left: -345px;
  }
}

@media (max-width: 1150px) {
  .bodytwo_content {
    margin-left: -369px;
  }
}

@media (max-width: 1150px) {
  .bodytwo {
    margin-top: -76px;
  }
}

@media (max-width: 930px) {
  .bodytwo_content {
    margin-left: -566px;
  }
}

@media (max-width: 750px) {
  .bodytwo {
    margin-top: -117px;
  }
  .bodytwo_content {
    margin-left: -609px;
  }
}

@media (max-width: 640px) {
  .bodytwo_content {
    margin-left: -633px;
  }
}

@media (max-width: 470px) {
  .bodytwo_content {
    margin-left: -714px;
  }
}

@media (max-width: 500px) {
  .bodytwo {
    margin-top: -172px;
  }
  .bodytwo .bodytwo_content img {
    width: 70px;
    height: 70px;
  }
  .bodytwo .bodytwo_content h1 {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .bodytwo {
    margin-top: 51px;
  }
  .bodytwo .bodytwo_content {
    margin-left: -710px;
    margin-top: -240px;
  }
  .bodytwo .bodytwo_content img {
    width: 50px;
    height: 50px;
    margin-top: 230px;
  }
  .bodytwo .bodytwo_content h1 {
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .bodytwo_content {
    margin-left: -765px;
    margin-top: -255px;
  }
}

@media (max-width: 1000px) {
  .bodythree {
    margin-top: -50px;
  }
}

@media (max-width: 750px) {
  .bodythree {
    margin-top: -100px;
  }
}

@media (max-width: 550px) {
  .bodythree {
    margin-top: -150px;
  }
}

@media (max-width: 1580px) {
  .bodyfour_finish h1 {
    margin-left: 200px;
  }
  .bodyfour_finish p {
    margin-left: 1170px;
  }
}

@media (max-width: 1400px) {
  .bodyfour_finish h1 {
    margin-left: 100px;
  }
  .bodyfour_finish p {
    margin-left: 1070px;
  }
}

@media (max-width: 1265px) {
  .bodyfour_finish h1 {
    margin-left: 100px;
  }
  .bodyfour_finish p {
    margin-left: 970px;
  }
}

@media (max-width: 1150px) {
  .bodyfour_finish h1 {
    margin-left: 70px;
  }
  .bodyfour_finish p {
    margin-left: 750px;
  }
}

@media (max-width: 1100px) {
  .bodyfour_text1 h5 {
    margin-left: 334px;
  }
  .bodyfour_text1 .button1 {
    margin-left: 416px;
  }
}

@media (max-width: 900px) {
  .bodyfour_text1 h5 {
    margin-left: 228px;
  }
  .bodyfour_text1 .button1 {
    margin-left: 310px;
  }
  .bodyfour_finish h1 {
    margin-left: 50px;
  }
  .bodyfour_finish p {
    margin-left: 450px;
  }
}

@media (max-width: 700px) {
  .bodyfour_text1 h5 {
    margin-left: 139px;
  }
  .bodyfour_text1 .button1 {
    margin-left: 218px;
  }
  .bodyfour_finish h1 {
    margin-left: 30px;
  }
  .bodyfour_finish p {
    margin-left: 400px;
  }
}

@media (max-width: 550px) {
  .bodyfour_text1 h5 {
    margin-left: 99px;
  }
  .bodyfour_text1 .button1 {
    margin-left: 189px;
  }
  .bodyfour_finish h1 {
    margin-left: -10px;
  }
  .bodyfour_finish p {
    margin-left: 250px;
  }
}

@media (max-width: 420px) {
  .bodyfour_text1 h5 {
    margin-left: 50px;
  }
  .bodyfour_text1 .button1 {
    margin-left: 129px;
  }
  .bodyfour_finish h1 {
    margin-left: -20px;
    font-size: 18px;
  }
  .bodyfour_finish p {
    margin-left: 220px;
    font-size: 10px;
  }
}

@media (max-width: 365px) {
  .bodyfour_text1 h5 {
    font-size: 12px;
    margin-left: 21px;
  }
  .bodyfour_text1 .button1 {
    margin-left: 84px;
  }
  .bodyfour_finish h1 {
    margin-left: -30px;
    font-size: 18px;
  }
  .bodyfour_finish p {
    margin-left: 180px;
    font-size: 10px;
  }
}

@media (max-width: 620px) {
  .bodyfive_content1 h1 {
    margin-top: -20px;
  }
  .bodyfive_content1 p {
    margin-top: -40px;
  }
}

@media (max-width: 490px) {
  .bodyfive_content p {
    font-size: 10px;
    margin: -16px;
  }
  .bodyfive_content1 h1 {
    font-size: 10px;
    margin-top: -65px;
  }
  .bodyfive_content1 p {
    font-size: 10px;
    margin-top: -60px;
  }
}

@media (max-width: 1190px) {
  .left_content input {
    max-width: 700px;
  }
}

@media (max-width: 1090px) {
  .left_content {
    margin-left: -328px;
  }
  .left_content input {
    max-width: 800px;
    margin: -18px;
  }
  .right_content {
    margin-top: 407px;
    margin-left: -1554px;
  }
  .right_content .right_img {
    margin-left: 338px;
    margin-top: -203px;
  }
}

@media (max-width: 1000px) {
  .right_content {
    margin-left: -1400px;
  }
  .left_content {
    margin-left: -256px;
  }
}

@media (max-width: 1090px) {
  .left_content {
    margin-left: -200px;
  }
  .left_content input {
    max-width: 700px;
  }
  .right_content {
    margin-left: -1200px;
  }
}

@media (max-width: 869px) {
  .right_content {
    margin-left: -1100px;
  }
  .left_content {
    margin-left: -180px;
  }
}

@media (max-width: 820px) {
  .left_content {
    margin-left: -160px;
  }
  .left_content input {
    max-width: 650px;
  }
  .right_content {
    margin-left: -1000px;
  }
}

@media (max-width: 800px) {
  .right_content {
    margin-left: -900px;
  }
  .left_content {
    margin-left: -120px;
  }
}

@media (max-width: 760px) {
  .right_content {
    margin-left: -800px;
  }
  .left_content {
    margin-left: -100px;
  }
  .left_content input {
    max-width: 600px;
  }
}

@media (max-width: 730px) {
  .right_content {
    margin-left: -650px;
  }
  .left_content {
    margin-left: -40px;
  }
  .left_content input {
    max-width: 550px;
  }
}

@media (max-width: 678px) {
  .right_content {
    margin-left: -550px;
  }
  .left_content {
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .right_content {
    margin-left: -824px;
  }
  .right_content .right_img {
    margin-left: 1px;
    margin-top: -1px;
  }
  .left_content {
    margin-left: -114px;
  }
  .left_content input {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .right_content {
    margin-left: -700px;
  }
  .left_content {
    margin-left: -77px;
  }
  .left_content input {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .left_content {
    margin-left: -57px;
  }
  .left_content input {
    max-width: 400px;
  }
  .right_content {
    margin-left: -600px;
  }
}

@media (max-width: 450px) {
  .left_content {
    margin-left: 2px;
  }
  .left_content input {
    max-width: 350px;
  }
  .right_content {
    margin-left: -400px;
  }
}

@media (max-width: 390px) {
  .right_content {
    margin-left: -300px;
  }
  .left_content {
    margin-left: 25px;
  }
  .left_content input {
    max-width: 300px;
  }
}

@media (max-width: 340px) {
  .right_content {
    margin-left: -250px;
    margin-top: 440px;
  }
  .left_content input {
    max-width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */