@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto:ital,wght@0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    min-height: 1290px;
}
.container{
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header{
    background: url(img/back.png) center no-repeat ;
    background-size:cover;
    height: 670px;
}
.header__content{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	padding: 50px;
	align-items: center;
    font-family: 'New Tegomin' sans-serif;
    word-spacing: 20px;
}
.header__logo img{
    width: 128px;
    height: 50px;
    
}
.header_list{
        display: flex;
        flex-direction: row;

        a{
            text-decoration: none;
            margin-right: 50px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }
        a:visited{
            color: white;
        }
        a:hover{
            color: #00e0d0;        
        }
        a:active{
            color: rgb(0, 0, 0);
        }
}
.text {
    text-align: center;
    margin-top: 50px;

h1{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}
p{
    padding: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
button{
    border: medium none;
    background-image: none; 
    background: transparent;
    background-color:transparent;
    border-radius: 5px;
    border: 2px solid #00e0d0;
    color: #00e0d0;        
    width: 150px;
    height: 50px;  
    font-size: 18px; 
}
}
.bodyone_content{
    img{
        width: 235px;
        height: 229px;
        margin-top: 50px;
        margin-left: 250px;
    }
    h1{
        margin-left: 560px;
        margin-top: -230px;
        font-family: "Playfair Display";
        color: #413d4b;
        font-size: 22px;
    }
    p{
        margin-top: 20px;
        margin-left: 560px;
        font-family: Roboto;
        color: #413d4b;
        font-size: 14px;
    }
    button{
        width: 120px;
        height: 40px;
        border: medium none;
        background-image: none; 
        background: transparent;
        background-color:transparent;
        border-radius: 5px;
        font-family: "Hammersmith One";
        border: 2px solid #00e0d0;
        color: #00e0d0;       
        background-color: #ffffff;
        margin-top: 30px;
        margin-left: 560px;
    }
}
.bodytwo{
    background: url(img/backone.png) center no-repeat ;
    background-size: 100%;
    height: 550px;
    margin-top: 50px;
    img{
        margin-left: 900px;
        margin-top: 200px;
    }
    h1{
        margin-left: 873px;
        margin-top: 34px;
        color: #ffffff;
        font-family: "Roboto - Black";
        font-size: 16px;
    }
}
.bodythree{
    background-color: white;
    height: auto;
.bodythreetext{
    text-align: center;
h6{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    margin-top: 20px;
}
p{
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    margin-top: 40px;
}
}
.flex_one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    text-align: center;

 img{
    height: 60px;
    width: 60px;
}
 h5{
    margin-top: 30px;
    color: #333333;
    font-family: "Roboto";
    font-size: 14px;
}
 p{
     margin-top: 20px;
    color: #413d4b;
    font-family: "Roboto - Black";
    font-size: 14px;
}
}
.flex_two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 150px;
 img{
    height: 60px;
    width: 60px;
}
 h6{
     margin-top: 30px;
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
}
 p{
     margin-top: 20px;
    font-size: 15px;
    color: rgb(83, 83, 83);
}
}
}
.bodyfour{
    background: url(img/backtwo.png) center no-repeat ;
    background-size: cover;
    height: auto;
    .bodyfour_text{
        text-align: center;
        padding: 60px;
        h1{
            color: #ffffff;
            font-family: "Playfair Display";
            font-size: 22px;
        }
        p{
            color: #f9f9f9;
            font-family: "Playfair Display";
            font-size: 14px;
        }
    }
    .flex_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        .back{
            background-color: white;
            width: 220px;
            height: 229px;
        }
        .flex_text{
            text-align: center;
            border: 1px solid white;
            padding: 26px;
            h1{
                color: #ffffff;
                font-family: "Roboto - Black";
                font-size: 14px;
            }
            p{
                color: #fafafa;
                font-family: "Roboto";
                font-size: 13px;
            }
        }
    }
    h5{
        color: #f3f3f3;
        font-family: "Roboto";
        font-size: 14px;
        margin-top: 59px;
        margin-left: 470px;
    }
    .button1{
        width: 120px;
        height: 40px;
        border: medium none;
        background-image: none; 
        background: transparent;
        background-color:transparent;
        border-radius: 5px;
        font-family: "Hammersmith One";
        border: 2px solid #00e0d0;
        color: #00e0d0; 
        margin-top: 35px; 
        margin-left: 555px;     
    }
   
}
.bodyfour_finish{
    background-color: white;
    height: 159px;
    margin-top: 40px;
    h1{
        color: #413d4b;
        font-family: "Playfair Display";
        font-size: 22px;
        padding: 60px;
        margin-left: 350px;
    }
    p{
        color: #413d4b;
        font-family: "Roboto";
        font-size: 14px;
        margin-top: -78px;
        margin-left: 1310px;
    }
}
.bodyfive{
    background: url(img/backthree.png) center no-repeat ;
    background-size: cover;
    height: auto;
    .bodyfive_content{
        p{
            color: #ffffff;
            font-family: "Playfair Display";
            font-size: 16px;
            text-align: center;
            padding: 100px;
        }
    }
    .bodyfive_content1{
        h1{
            color: #ffffff;
            font-family: "Roboto - Black";
            font-size: 14px;
            text-align: center;
        }
        p{
            color: #ffffff;
            font-family: "Roboto";
            font-size: 13px;
            text-align: center;
            margin-top: -90px;
        }
    }
}
.bodysix{
    background-color: white;
    height: auto;
    .leftright_content{
        display: flex;
        justify-content: space-around;
    }
    .left_content{
        h1{
            margin-top: 60px;
            color: #413d4b;
            font-family: "Playfair Display";
            font-size: 22px;
        }
        input{
            margin-top: 20px;
            padding: 20px;
            width: 800px;
            font-size: 20px;
            color: black;
        }
        button{
        width: 120px;
        height: 40px;
        border: medium none;
        background-image: none; 
        background: transparent;
        background-color:transparent;
        border-radius: 5px;
        font-family: "Hammersmith One";
        font-size: 16px;
        border: 2px solid #00e0d0;
        color: #00e0d0; 
        margin-top: 40px;
        }
    }
    .right_content{
        h2{
            margin-left: 22px;
            margin-top: 60px;
            color: #413d4b;
            font-family: "Playfair Display";
            font-size: 22px;    
        }
       .img{
            .left_img{
                .one{
                    padding: 23px;
                }
                .two{
                    padding: 23px;
                }
            }
            .right_img{
                .three{
                    padding: 23px;
                }
                .four{
                    padding: 23px;
                }
            }
        }
    }
}
$button-size: 20px;
$button-color: #000;

@function calc-line-height($n) {
  @return $n / 5;
}

@mixin css3-rotation($n){
  -ms-transform:rotate($n);
  -webkit-transform:rotate($n);
  transform: rotate($n);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//header_budrger_list-adapt
@media (min-width:800px){
.entire-menu{
    display: none;
}
}
@media (max-width:800px){
    .header_list{
        display: none;
    }
    .header__logo{
        display: none;
    }
    .entire-menu{
        position: fixed;
        padding: 20px;
        width: 100%;
        height: 80px;
        background: url(img/Logo.png) center no-repeat ;
        background-color: rgb(53, 52, 52);

      }
      .entire-menu:hover{
        height: 100%;
        width: 100%;
        background-color: rgb(53, 52, 52);
      }
      .hamburguer{
        width: $button-size;
        height: $button-size;
        display: block;
        position: relative;
        background: none;
        margin: 0 0 10px 0;
        
        
        &:after, &:before, span, label{
          content: ' ';
          display: block;
          width: 100%;
          height: calc-line-height( $button-size );
          background: $button-color;
          left:0;
          position: absolute;
          -webkit-transition: all 300ms ease-in-out; 
          transition: all 300ms ease-in-out;
          
        }
        &:before{
          top: 0;
        }
        &:after{
          bottom: 0; 
        }
        &:focus{
          outline: none;
        }
        label{
          width: 100%;
          height: 100%;
          background: none;
          cursor: pointer;
          z-index: 1000;
        }
        span{
          top: calc-line-height( $button-size ) * 2;
        }
      }
      
      #change-hamburguer{
        display:none;
        
        &:checked ~ .hamburguer:before, &:checked ~ .hamburguer:after {
          top: $button-size / 2;
          margin-top: -10%;
        }
        &:checked ~ .hamburguer:before{
              @include css3-rotation(-45deg);
        }
        &:checked ~ .hamburguer:after{
              @include css3-rotation(45deg);
        }
        &:checked ~ .hamburguer span{
              opacity: 0;
        }
        &:checked ~ .menu{
          max-height: 200px;
        }
      }
      .menu{
        max-height: 0;
        height: auto;
        -webkit-transition: all 300ms ease-in-out; 
        transition: all 300ms ease-in-out;
        overflow: hidden;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 25px ;
        width: 50%;
        
        
        a {
            text-decoration: none;
          color: rgb(255, 255, 255);
          padding: 5px 10px;
          display: block;
          text-transform: uppercase;
          border-left: 5px solid #000;
          
          &:hover{
            border-left: 5px solid #e57373;
            color: #e57373;
            background: #222;
          }
        }
}
}
//header_list-adapt
@media (max-width:1000px){
    .header_list{
        a{
            margin-right: 30px;
        }
    }
}
@media (max-width: 940px){
    .header_list{
        a{
            margin-right: 25px;
        }
    }
    .bodyone_content{
        .textbodyone{
            margin-left: -190px;
        }
        img{
        margin-left: 100px;
        width: 200px;
        height: 200px;
        }
    }

}
//bodyone-adapt
@media (max-width: 780px){
    .header_list{
        a{
            margin-right: 15px;
        }
    }
    .text{
        margin-top: 70px;
    }
}
@media (max-width: 700px){
    .header_list{
        a{
            margin-right: 10px;
        }
    }
    .header__logo{
        img{
            margin-left: -50px;
        }
    }
}
@media (max-width: 640px){
    .header__logo{
        img{
            margin-left: -80px;
        }
    }
    .header_list{
        margin-right: -60px;
        a{
            margin-right: 10px;
        }
    }
}
@media (max-width: 603px){
    .header__logo{
        img{
            margin-left: -120px;
        }
    }
    .header_list{
        margin-right: -75px;
        a{
            display: flex;
            flex-direction: column;
            margin-right: 8px;
        }
    }
}
@media (max-width: 560px){
    .bodyone_content{
        .textbodyone{
            margin-left: -340px;
        }
        img{
        margin-left: 5px;
        width: 200px;
        height: 200px;
        }
    }
}
@media(max-width:400px){
    .bodyone_content{
        .textbodyone{
            margin-top: -5px;
            h1{
                font-size: 15px;
                margin-left: 527px;
            }
            p{
                font-size: 12px;
                margin-left: 527px;
            }
            .button{
                margin-left: 517px;
            }
        }
        img{
            margin-left: -15px;
            width: 200px;
            height: 200px;
        }
    }
}
//bodytwo-adapt
@media (max-width: 1640px){
    .bodytwo_content{
        margin-left: -150px;
    }
}
@media (max-width: 1440px){
    .bodytwo_content{
        margin-left: -250px;
    }
}
@media (max-width: 1150px){
    .bodytwo_content{
        margin-left: -423px;
    }
}
@media (max-width: 930px){
    .bodytwo_content{
        margin-left: -550px;
    }
}
@media (max-width: 640px){
    .bodytwo_content{
        margin-left: -623px;
    }
}
@media (max-width: 500px){
    .bodytwo_content{
       img{
           width: 70px;
           height: 70px;
       }
       h1{
           font-size: 15px;
       }
    }
}
@media (max-width: 450px){
    .bodytwo_content{
        margin-left: -710px;
        margin-top: -240px;
       img{
           width: 50px;
           height: 50px;
           margin-top: 230px;
       }
       h1{
           font-size: 12px;
       }
    }
}
@media (max-width: 370px){
    .bodytwo_content{
      margin-left: -770px;
    }
}
//bodythree-adapt
@media (max-width:1000px){
    .bodythree{
        margin-top: -50px;
    }
}
@media (max-width:750px){
        .bodythree{
            margin-top: -100px;
        }
}
@media (max-width:550px){
    .bodythree{
        margin-top: -150px;
    }
}
//bodyfour-adapt
@media(max-width:1580px){
    .bodyfour_finish{
        h1{
            margin-left: 200px;
        }
        p{
            margin-left: 1170px;
        }
    }
}
@media(max-width:1400px){
    .bodyfour_finish{
        h1{
            margin-left: 100px;
        }
        p{
            margin-left: 1070px;
        }
    }
}
@media(max-width:1265px){
    .bodyfour_finish{
        h1{
            margin-left: 100px;
        }
        p{
            margin-left: 970px;
        }
    }
}
@media(max-width:1150px){
    .bodyfour_finish{
        h1{
            margin-left: 70px;
        }
        p{
            margin-left: 750px;
        }
    }
}
@media(max-width:1100px){
    .bodyfour_text1{
    h5{
        margin-left: 378px;
    }
    .button1{
        margin-left: 456px;
    }
}
}
@media(max-width: 900px){
    .bodyfour_text1{
    h5{
        margin-left: 291px;
    }
    .button1{
        margin-left: 377px;
    }
}
    .bodyfour_finish{
    h1{
        margin-left: 50px;
    }
    p{
        margin-left: 450px;
    }
}   
}
@media(max-width: 700px){
    .bodyfour_text1{
    h5{
        margin-left: 194px;
    }
    .button1{
        margin-left: 269px;
    }
}
    .bodyfour_finish{
    h1{
        margin-left: 30px;
    }
    p{
        margin-left: 400px;
    }
}   
}
@media(max-width: 550px){
    .bodyfour_text1{
    h5{
        margin-left: 100px;
    }
    .button1{
        margin-left: 197px;
    }
}
    .bodyfour_finish{
    h1{
        margin-left: -10px;
    }
    p{
        margin-left: 250px;
    }
}   
}
@media(max-width: 420px){
    .bodyfour_text1{
    h5{
        margin-left: 50px;
    }
    .button1{
        margin-left: 129px;
    }
}
    .bodyfour_finish{
    h1{
        margin-left: -20px;
        font-size: 18px;
    }
    p{
        margin-left: 220px;
        font-size: 10px;
    }
}
}
@media(max-width: 365px){
    .bodyfour_text1{
    h5{
        font-size: 12px;
        margin-left: 21px;
    }
    .button1{
        margin-left: 100px;
    }
}
.bodyfour_finish{
    h1{
        margin-left: -30px;
        font-size: 18px;
    }
    p{
        margin-left: 180px;
        font-size: 10px;
    }
}
}
//bodyfive-adapt
@media(max-width:620px){
    .bodyfive_content1{
        h1{
            margin-top: -20px;
        }
        p{
            margin-top: -40px;
        }
    }
}
@media(max-width:490px){
    .bodyfive_content{
        p{
            font-size: 10px;
            margin: -16px;
        }
    }
    .bodyfive_content1{
        h1{
            font-size: 10px;
            margin-top: -65px;
        }
        p{
            font-size: 10px;
            margin-top: -60px;
        }
    }
}
//bodysix-adapt
@media(max-width:1190px){
    .left_content{
        input{
            max-width: 700px;
        }
    }
}
@media(max-width:1090px){
    .left_content{
        input{
            max-width: 600px;
        }
    }
}
@media(max-width:990px){
    .left_content{
        input{
            max-width: 500px;
        }
    }
}
@media(max-width:890px){
    .left_content{
        input{
            max-width: 400px;
        }
    }
}
@media(max-width:790px){
    .left_content{
        input{
            max-width: 300px;
        }
    }
}
@media(max-width:690px){
    .left_content{
        h1{
           margin-left: -10px;
        }
        input{
            max-width: 200px;
            margin-left: -12px;
        }
    }
    .right_content{
        margin-left: 20px;
    }
}
@media(max-width:420px){
    .left_content{
        margin-left: 15px;
        input{
            max-width: 110px;
            font-size: 15px;
        }
    }
    .right_content{
        margin-left: -1px;
    }
    button{
        margin-left: -23px;
    }
}
